
<div class="container">
    <div class="row ">
      <div class="col ">
        <a href="http://localhost:4200/" class="previous d-flex">
            <i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i>
            <h6 class="title text-start">Checkout</h6> 
        </a>

        <h2 class="title text-start">New card</h2>
      </div>



      <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

        <label for="full-name">Cardholder name </label>
        <input id="full-name" type="text" formControlName="fullName">
      
        <label for="card-number">Card number </label>
        <input id="card-number" type="number" formControlName="cardNumber">

        <label for="exp-date">Exp date: </label>
        <input id="exp-date" type="date" formControlName="expDate">

        <label for="cvc-number">CVC </label>
        <input id="cvc-number" type="number" formControlName="cvcNumber">

       
        <p>Complete the form to enable button.</p>
<button type="submit" [disabled]="!profileForm.valid">Submit</button>
      </form>


      
    </div>
  </div>