#pills-apple {
    border: 2px solid red; 
    width: 400px; 
    margin: auto;
    background-image: url(/assets/images/ApplePay.jpg);
    background-size: 400px;
    background-repeat: no-repeat;
};
#pills-card {
    
    width: 400px;
    margin: auto;
};#pills-paupal {

    width: 400px;
    margin: auto;
    background-image: url(/assets/images/PpaypalForm.jpg);
    background-size: 400px;
    background-repeat: no-repeat;
};

button{
    width: 100px;
    height: 80px;
    border-radius: 20px;
}

 ul p{
    color: #0d6efd;
}
.nav-link{
border-radius: 20px;
border: 2px solid #0d6efd;
margin: 0 10px;
}

.tab-pane{
    width: 400px;
    height: 400px;
}

.paymant-action {
    display: inline-block;
}
.row{
    max-width: 500px;
}

ul.cardList{
    list-style-type: none;
    margin: 20px 0 0 0;
    padding: 0;
    height: 200px;

}

#pills-card > ul > li{
    opacity: 0.2;
}

#pills-card > ul > li{
    display: flex;
    justify-content: space-around;
}