<div class="container ">
    <div class="row text-center mx-auto">
        <h2 class="title is-1 text-start">Checkout</h2>
        <h5 class="title text-start">Select your payment method</h5>
        <ul class="nav nav-pills mb-3 d-flex justify-content-center" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link " id="pills-apple-tab" data-bs-toggle="pill" data-bs-target="#pills-apple" type="button" role="tab" aria-controls="pills-apple" aria-selected="true"><i class="fa-brands fa-apple-pay fa-3x"></i></button><p class="text-center title is-4">Apple Pay</p>
            </li>
            <li class="nav-item " role="presentation">
                <button class="nav-link active" id="pills-card-tab" data-bs-toggle="pill" data-bs-target="#pills-card" type="button" role="tab" aria-controls="pills-card" aria-selected="false"><i class="fa-solid fa-credit-card fa-3x"></i></button><p class="text-center title is-4">Credit Card</p>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-paupal-tab" data-bs-toggle="pill" data-bs-target="#pills-paupal" type="button" role="tab" aria-controls="pills-paupal" aria-selected="false"><i class="fa-brands fa-paypal fa-3x"></i></button><p class="text-center title is-4">PayPal</p>
            </li>
        </ul>
        <div class="tab-content " id="pills-tabContent">
            <div class="tab-pane fade " id="pills-apple" role="tabpanel" aria-labelledby="pills-apple-tab"></div>
            <div class="tab-pane fade show active" id="pills-card" role="tabpanel" aria-labelledby="pills-card-tab">
                <h5 class="title text-start">Select your card</h5>
                <ul class="cardList">
                    <li class="card-option text-start"><i class="fa-solid fa-credit-card fa-2x"></i><h5 class="title  text-decoration-underline">0000 0000 0000 0000</h5> </li>
                </ul>
                <h6 class="title text-center">You do not have a credit card on file.</h6>
                <a href="http://localhost:4200/card" class="text-decoration-none"><h5 class="title text-center">Add a new card</h5></a>
                
            </div>
            <div class="tab-pane fade" id="pills-paupal" role="tabpanel" aria-labelledby="pills-paupal-tab"></div>
        </div>
        <div class="payment-action d-flex justify-content-between">
            <h5 class="title text-start">Total amount</h5>
            <h2 class="title is-1 text-start">$29.90</h2>
            
        </div>
        <div class="payment-transaction">
            <button type="button" class="btn btn-primary">Pay now</button>
        </div>
        
    </div>
</div>